.galileodesign-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.galileodesign-galileodesign {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(255, 255, 255, 1);
}

.galileodesign-depth0-frame0 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.galileodesign-depth2-frame0 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(229, 232, 234, 1);
  border-style: solid;
  border-width: 0 0 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}

.galileodesign-depth3-frame0 {
  gap: 16px;
  display: flex;
  align-items: center;
}

.galileodesign-depth4-frame0 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.galileodesign-depth5-frame0 {
  width: 16px;
  height: 16px;
  flex-grow: 1;
}

.galileodesign-depth4-frame1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.galileodesign-text {
  color: rgba(12, 20, 28, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}

.galileodesign-depth3-frame01 {
  height: auto;
  display: flex;
  padding: 20px 0;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.galileodesign-depth4-frame01 {
  gap: 10px;
  height: 59px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.galileodesign-depth5-frame01 {
  gap: 12px;
  height: 40px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.galileodesign-depth6-frame0 {
  width: 288px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.galileodesign-depth7-frame0 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.galileodesign-text02 {
  color: rgba(20, 20, 20, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}

.galileodesign-depth4-frame3 {
  width: 1500px;
  gap: 10px;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
}

.galileodesign-depth4-frame33 {
  width: 1500px;
  gap: 10px;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
}

.myContentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  gap: 10px; /* Optional: Adjust the gap between the rows */
}

.left {
  flex: 5;
  height: auto;
  border: 4px solid #d2d2d2; /* 2px 두께의 검은색 실선 테두리 */
  border-radius: 5px; /* 5px 반지름의 둥근 테두리 */
}

.right {
  max-height: 500px; /* Set desired max height */
  overflow-y: auto; /* Add vertical scroll */
  display: flex;
  flex: 5;
  flex-direction: column;
  border: 4px solid #d2d2d2; /* 2px 두께의 검은색 실선 테두리 */
  border-radius: 5px; /* 5px 반지름의 둥근 테두리 */
}

.video-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 16px;
  margin: 10px;
  margin-bottom: 0px;
  transition: background-color 0.3s;
  border: 2px solid #d2d2d2; /* 2px 두께의 검은색 실선 테두리 */
  border-radius: 5px; /* 5px 반지름의 둥근 테두리 */
}

.video-item:hover {
  background-color: #f0f0f0;
}

.video-content {
  position: relative; /* Add this to position the index number */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
}

.index-number {
  position: absolute; /* Position it absolutely within the relative container */
  top: 8px; /* Adjust as needed */
  left: 8px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 2px 6px; /* Padding around the number */
  border-radius: 4px; /* Rounded corners */
  font-size: 0.75rem; /* Font size */
}

.highlight-summary {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border: 2px solid #d2d2d2; /* 2px 두께의 검은색 실선 테두리 */
  border-radius: 5px; /* 5px 반지름의 둥근 테두리 */
  text-align: center;
  margin: 0;
  padding: 0;
}

.video-title {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(max-width: 1600px) {
  .galileodesign-depth3-frame01 {
    width: 100%;
  }
}
